@import '../../styles/global.scss';

.header {
    border-bottom: 1px solid var(--color-dividers);
    background: var(--color-bg);
    position: absolute;
    padding: $spacer-large;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-mobile) {
        padding: $spacer-medium;
    }

    .header__logo {
        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            svg {
                fill: var(--color-main-text);
            }

            &:hover svg {
                fill: var(--color-link-hover);
            }
        }

        .logo__type {
            font-size: 24px;
            color: var(--color-main-text);
            font-family: $font-primary;
            margin-left: $spacer-small;
            font-weight: 700;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    .header__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            margin-right: $spacer-medium;

            &:last-child {
                margin-right: 0;
            }

            svg {
                fill: var(--color-main-text);
            }

            .svg__text {
                font-size: 16px;
                margin-right: $spacer-tiny;
                color: var(--color-main-text);
                font-family: $font-primary;
                font-weight: 700;
                transition: $transition-basic color;
            }

            &:hover {
                svg {
                    fill: var(--color-link-hover);
                }
                .svg__text {
                    color: var(--color-link-hover);
                }
            }
        }

        .social {
            display: flex;
            margin-right: $spacer-big;

            a {
                width: 42px;
                height: 48px;
                margin: 0;
                padding: 0 4px;
            }

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }
}
