@import '../../styles/global.scss';

.header {
    position: sticky;
    top: 0;
    z-index: 996;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo {
        z-index: 997;
        padding: $spacer-large 0 $spacer-large $spacer-large;
        border-bottom: 1px solid var(--color-divider);
        background: var(--color-bg);
        width: 100%;

        @media (max-width: $breakpoint-mobile) {
            padding: $spacer-medium 0 $spacer-medium $spacer-medium;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            svg {
                fill: var(--color-main-text);
            }

            &:hover svg {
                fill: var(--color-link-hover);
            }
        }

        .logo__type {
            font-size: 24px;
            color: var(--color-main-text);
            font-family: $font-primary;
            margin-left: $spacer-small;
            font-weight: bold;

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    .header__navbar {
        padding: $spacer-large $spacer-large $spacer-large 0;
        background: var(--color-bg);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid var(--color-divider);
        width: 100%;

        @media (max-width: $breakpoint-mobile) {
            padding: $spacer-medium $spacer-medium $spacer-medium 0;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            margin-right: $spacer-medium;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            svg {
                fill: var(--color-main-text);
            }

            .svg__text {
                font-size: 16px;
                margin-right: $spacer-tiny;
                color: var(--color-main-text);
                font-family: $font-primary;
                font-weight: bold;
                transition: $transition-basic color;

                @media (max-width: $breakpoint-mobile) {
                    display: none;
                }
            }

            &:hover {
                svg {
                    fill: var(--color-link-hover);
                }
                .svg__text {
                    color: var(--color-link-hover);
                }
            }
        }

        .social {
            display: flex;
            margin-right: $spacer-big;

            a {
                width: 42px;
                height: 48px;
                margin: 0;
                padding: 0 4px;
            }

            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }

    &.header--article {
        background: transparent;

        .header__logo {
            border-bottom: none;
            background: transparent;
            svg {
                fill: var(--color-main-text);
            }
            @media (max-width: $breakpoint-tablet) {
                border-bottom: 1px solid var(--color-divider);
                background: var(--color-bg);
            }
        }

        &.header--active .header__logo {
            border-bottom: 1px solid var(--color-divider);
            background: var(--color-bg);
        }
    }
}
