@import '../../styles/global.scss';

.error-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: var(--color-bg);
    display: grid;
    grid-template-columns: 50vw 50vw;
    overflow-y: auto;

    .error-page__illustration {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;

        svg {
            height: 100vh;
            max-width: 100%;
        }
    }

    .error-page__content {
        height: 100%;
        border-left: 1px solid var(--color-divider);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer-large;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: $breakpoint-mobile) {
            padding: $spacer-large $spacer-medium;
        }

        svg {
            display: none;
        }

        .flex-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 1;
            margin: auto;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: 1fr;

        .error-page__illustration {
            display: none;
        }

        .error-page__content {
            border-left: none;

            svg {
                display: block;
                max-height: 350px;
                min-height: 300px;
            }
        }
    }
}

.details {
    margin: $spacer-medium 0;

    @media (max-width: $breakpoint-mobile) {
        margin-top: 0;
    }
}
