@import '../../styles/global.scss';

@keyframes jumping {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}
.side-content {
    width: 100%;
    padding: $spacer-big $spacer-large 0;

    @media (max-width: $breakpoint-mobile) {
        padding: $spacer-big $spacer-medium;
    }
}
