@import '../../styles/global.scss';

.navigation {
    width: 100%;
    background: var(--color-bg);
    z-index: 997;
    position: fixed;
    top: 145px;
    bottom: 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
    overflow-x: hidden;
    overflow-y: auto;

    @media (max-width: $breakpoint-mobile) {
        top: 97px;
        grid-template-columns: 1fr;
    }

    .nav__illustration {
        display: grid;
        grid-template-rows: 1fr;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        align-items: center;

        .quote {
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: italic;
            padding: $spacer-large;
            flex-direction: column;
            z-index: 1;

            p {
                text-align: center;
                max-width: 35ch;
                font-size: 19px;
                line-height: 22px;
                font-weight: 700;
            }

            cite {
                font-style: normal;
                font-family: $font-secondary;
                text-transform: uppercase;
                color: var(--color-link);
                letter-spacing: 1px;
                font-size: 12px;
            }
        }

        svg {
            width: 150%;
            position: absolute;
            opacity: 0.2;
            top: 50%;
            transform: translateY(-50%) scaleX(-1);
        }

        @media (max-width: $breakpoint-mobile) {
            display: none;
        }
    }

    .nav__content {
        border-left: 1px solid var(--color-divider);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer-large;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: $breakpoint-mobile) {
            padding: $spacer-large $spacer-medium;
        }

        ul {
            list-style: none;
            padding: 0;
            width: 100%;

            li {
                width: 100%;
                &::before {
                    display: none;
                }

                a {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 32px;
                    padding: $spacer-tiny $spacer-small 0;
                    transition: $transition-basic color;

                    span {
                        opacity: 0;
                        font-style: italic;
                        font-size: 14px;
                        margin-top: $spacer-tiny;
                        font-weight: normal;
                        font-family: $font-tertiary;
                        transition: 1s opacity;
                    }
                }

                &:hover {
                    a {
                        color: var(--color-link);

                        span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
