@import 'variables';

@font-face {
    font-family: 'mNewYork';
    src: url(/static/fonts/NewYork-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: 'mNewYork';
    src: url(/static/fonts/NewYork.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'mNewYork';
    src: url(/static/fonts/NewYorkItalic.woff2);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'mUbuntu';
    src: url(/static/fonts/Ubuntu.woff2);
}

h1 {
    font-size: 64px;
    font-weight: bold;
    font-family: $font-primary;
    line-height: 67px;
    color: var(--color-main-text);
    max-width: 20ch;
    margin: $spacer-small 0;

    @media (max-width: $breakpoint-tablet) {
        font-size: 52px;
        line-height: 64px;
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 42px;
        line-height: 48px;
        margin: $spacer-tiny 0;
    }

    &.headline--medium {
        font-size: 48px;
        line-height: 54px;

        @media (max-width: $breakpoint-mobile) {
            font-size: 38px;
            line-height: 42px;
        }
    }
}

h2 {
    font-size: 38px;
    font-weight: bold;
    font-family: $font-primary;
    line-height: 40px;
    color: var(--color-main-text);

    @media (max-width: $breakpoint-tablet) {
        font-size: 32px;
        line-height: 36px;
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 28px;
        line-height: 30px;
    }

    &.headline--medium {
        font-size: 24px;
        line-height: 25px;
    }
}

h3 {
    font-size: 16px;
    font-weight: bold;
    font-family: $font-secondary;
    text-transform: uppercase;
    line-height: 23px;
    color: var(--color-link);
    margin-top: $spacer-medium;

    @media (max-width: $breakpoint-mobile) {
        margin-top: $spacer-tiny;
    }

    &.headline--large {
        font-size: 24px;
        line-height: 28px;

        @media (max-width: $breakpoint-mobile) {
            font-size: 19px;
            line-height: 21px;
        }
    }

    &.headline--medium {
        font-size: 14px;
        line-height: 14px;

        @media (max-width: $breakpoint-mobile) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

h4 {
    font-size: 14px;
    font-weight: bold;
    font-family: $font-secondary;
    line-height: 23px;
    margin: $spacer-small;
    color: var(--color-main-text);

    a {
        color: var(--color-link);
        transition: $transition-basic color;

        &:hover {
            color: var(--color-link-hover);
        }
    }
}

p {
    font-size: 18px;
    font-weight: 400;
    font-family: $font-primary;
    line-height: 24px;
    margin: $spacer-small 0;
    color: var(--color-main-text);
    transition: $transition-basic color;

    @media (max-width: $breakpoint-tablet) {
        font-size: 18px;
        line-height: 23px;
    }

    &.paragraph--narrow {
        max-width: 45ch;
    }

    &.paragraph--medium {
        font-size: 17px;
        line-height: 21px;
    }

    &.paragraph--small {
        font-size: 17px;
        line-height: 21px;
    }
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        font-size: 14px;
        font-weight: 400;
        font-family: $font-primary;
        line-height: 18px;
        margin: $spacer-tiny 0;
        color: var(--color-main-text);

        &::before {
            content: '\2022';
            color: var(--color-link);
            font-weight: bold;
            display: inline-block;
            width: 24px;
            margin-left: -24px;
        }
    }
}
