// Colors
// $color-apricot: #fabea1; // Dark theme link
// $color-brown-sugar: #c7754d; // Light theme link
// $color-floral-white: #f9f4ec; // Dark theme white & light theme BG
// $color-earie-black: #262523; // Light theme black & dark theme BG
// $color-laurel-green: #b0b995; // Dark theme success
// $color-moss-green: #7f9246; // Light theme success
// $color-jet: #2a2927; //Dark theme BG decoration
// $color-linen: #f8eee3; // Light theme BG decoration
// $color-nickel: #777470; // Dark theme meta text
// $color-quick-silver: #a8a29a; // Light theme meta text
// $color-rich-black: #060606; // Registration black
// $color-umber: #6c574c; // Dark theme dividers
// $color-champagne-pink: #f9e2d3; // Light theme dividers

// Fonts
$font-primary: 'DM Serif Display', serif;
$font-secondary: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
$font-tertiary: 'Merriweather', serif;

// Gutters & Spacers
$gutter: 8px;
$spacer-large: 48px;
$spacer-big: 32px;
$spacer-medium: 24px;
$spacer-small: 16px;
$spacer-tiny: 8px;

// Breakpoints
$breakpoint-desktop: 1366px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 640px;

$transition-basic: 0.24s;

$header-desktop: 145px;
$header-mobile: 97px;

:global {
    body.theme--dark {
        --color-link: #fabea1;
        --color-link-hover: #c7754d;
        --color-bg: #262523;
        --color-main-text: #f9f4ec;
        --color-success: #b0b995;
        --color-bg-decoration: #2a2927;
        --color-secondary-text: #777470;
        --color-divider: #6c574c;
        --color-primary-button-text: #262523;
        --color-primary-button-hover-text: #f9f4ec;
        --color-bg-rgb: 38, 37, 35;
    }

    body.theme--light {
        --color-link: #c7754d;
        --color-link-hover: #885034;
        --color-bg: #f9f4ec;
        --color-main-text: #262523;
        --color-success: #7f9246;
        --color-bg-decoration: #f8eee3;
        --color-secondary-text: #a8a29a;
        --color-divider: #f9e2d3;
        --color-primary-button-text: #f9f4ec;
        --color-primary-button-hover-text: #f9f4ec;
        --color-bg-rgb: 249, 244, 236;
    }
}
