// Colors
// $color-apricot: #fabea1; // Dark theme link
// $color-brown-sugar: #c7754d; // Light theme link
// $color-floral-white: #f9f4ec; // Dark theme white & light theme BG
// $color-earie-black: #262523; // Light theme black & dark theme BG
// $color-laurel-green: #b0b995; // Dark theme success
// $color-moss-green: #7f9246; // Light theme success
// $color-jet: #2a2927; //Dark theme BG decoration
// $color-linen: #f8eee3; // Light theme BG decoration
// $color-nickel: #777470; // Dark theme meta text
// $color-quick-silver: #a8a29a; // Light theme meta text
// $color-rich-black: #060606; // Registration black
// $color-umber: #6c574c; // Dark theme dividers
// $color-champagne-pink: #f9e2d3; // Light theme dividers

// Fonts
$font-primary: 'New York', 'Times New Roman', serif;
$font-secondary: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;

// Gutters & Spacers
$gutter: 8px;
$spacer-large: 48px;
$spacer-big: 32px;
$spacer-medium: 24px;
$spacer-small: 16px;
$spacer-tiny: 8px;

// Breakpoints
$breakpoint-desktop: 1366px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 876px;

$transition-basic: 0.24s;
