@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'helpers';

// #next default styles
:global {
    #__next {
        width: 100%;
        background: var(--color-bg);
    }

    body.scroll-locked {
        overflow: hidden;
    }
}

// Default body styles

html,
body {
    width: 100%;
    background: var(--color-bg);
}

body {
    margin: 0;
}

a {
    color: var(--color-text);
    text-decoration: none;
}
