:root {
    --color-link: #fabea1;
    --color-link-hover: #c7754d;
    --color-bg: #262523;
    --color-main-text: #f9f4ec;
    --color-success: #b0b995;
    --color-bg-decoration: #2a2927;
    --color-secondary-text: #777470;
    --color-divider: #6c574c;
    --color-primary-button-text: #262523;
    --color-primary-button-hover-text: #f9f4ec;
    --color-bg-rgb: 38, 37, 35;
}
